body {
    word-break: keep-all;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #333;
}

#bady_container {

}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    background: var(--baseBackground);
    transition: top .2s ease-in-out;
    z-index: 3000;
}

header .header_inner {
     max-width: 1300px;
    height: 91px;
    display: flex;
     justify-content: space-between;
     align-items: center;
    position: relative;
    margin: 0 auto;
    
}

header .screen_logo {
    font-weight: 400;
    font-size: 26px;
}

#gnb_menu {
    position: absolute;
    top: 28px;
    left: 26%;
    letter-spacing: -.5px;
    font-size: 14px;
}

header .gnb_list {
    column-gap: 40px;
    display: flex;
    /*  */
    
}

header .item_menu {
  display: block;
  font-size: 15px;
  font-weight: 500;
  padding: 4px 16px 6px;
  border-radius: 999px;
  line-height: 27px;
  color: #333;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

header .item_menu.active {
  background-color: #000;
  color: #fff;
}

.area_util .btn_search {
    width: 49px;
    height: 28px;
    border-radius: 18px;
    color: #333;
    background: none;
}

.btn_search .ico_search {
    width: 24px;
    height: 24px;
}

.area_util .btn_language {
    margin-left: 10px;
    width: 21px;
    height: 28px;
    border-radius: 18px;
    color: #333;
     background: none;
}

.btn_language .ico_mode_dark {
    width: 24px;
    height: 24px;
}

.area_util .btn_mode {
     margin-left: 10px;
    width: 49px;
    height: 28px;
    border-radius: 18px;
    color: #333;
     background: none;
}

.btn_mode .ico_mode_dark {
    width: 24px;
    height: 24px;
}

/* main */

#main {

}

#main .main_inner {
    padding-top: 91px;
}

#main .content_feature {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    position: fixed;
    width: 100%;
    top: 91px;
}

#main .inner_path {
    max-width: 1300px;
    display: flex;
    position: relative;
    margin: 0 auto;
    justify-content: space-between;
}

#main .wrap_tit {
    padding: 18px 0 22px;
}

#main .tit_path {
    display: inline-block;
    margin: 2px 0 1px;
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -.28px;
    color: #000;
}

#main .wrap_download {
    display: flex;
    padding: 24px 0;
}

#main .item_direct a {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -.23px;
    color: #000;
}

#main .data-1::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 16px;
    margin: 0 20px -2px;
    background-color: #d8d8d8;
}

#main .btn_download img {
    width: 19px;
    height: 17px;
}

#main .ico_download_circle {
    width: 16px;
    height: 16px;
    margin: 4px 0 0 4px;
}

#main .main_content {
    padding-top: 74px;
}

#main .content_service {
    position: relative;
    overflow-x: hidden;
    padding-top: 72px;
}

#main .section_intro1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
}

#main .area_title {
    max-width: 816px;
    min-height: auto;
    padding-top: 72px;
    margin: 0 auto 72px;
    text-align: center;
}

#main .wrap_subinfo {
    line-height: 20px;
}

#main .wrap_subinfo > span {
    font-size: 22px;
    font-weight: 400;
    color: #333;
    letter-spacing: -.5px;
}

#main .title_h3 {
    overflow: hidden;
    display: block;
    margin-top: 24px;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -1px;
    color: #000;
}

#main .wrap_share {
    margin-top: 48px;
}

#main .list_share {
    position: relative;
}

#main .list_share li {
    display: inline-block;
}

#main .list_share1 {
    display: inline-block;
    border-radius: 100px;
    background-color: #eee;
    width: 36px;
    height: 33px;
}

#main .list_share1 img{
    width: 24px;
    padding-top: 4px;
}

#main .list_share2 {
    display: inline-block;
    border-radius: 100px;
    background-color: #eee;
    width: 36px;
    height: 33px;
    margin-left: 8px;
}

#main .list_share2 img {
    width: 24px;
    padding-top: 4px;
}

#main .list_share3 {
    display: inline-block;
    border-radius: 100px;
    background-color: #eee;
    width: 36px;
    height: 33px;
    margin-left: 8px;
}

#main .list_share3 img {
    width: 24px;
    padding-top: 4px;
}

#main .list_share4 {
    display: inline-block;
    border-radius: 100px;
    background-color: #eee;
    width: 36px;
    height: 33px;
    margin-left: 8px;
}

#main .list_share4 img {
    width: 24px;
    padding-top: 4px;
}

#main .area_visual {
    height: calc(100vh - 72px);
    position: relative;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

#main .area_visual img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    top: 0;
}

#main .section_featrure {
    position: relative;
}

#main .area_intro {
    height: calc(100vh - 72px);
    position: relative;
    opacity: .2;
}

#main .inner_cont {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 816px;
    transform: translate(-50%, -50%);
    text-align: center;
}

#main .inner_cont img {
    max-width: 100%;
    max-height: 84px;
    margin-bottom: 36px;
}

#main .inner_cont p {
 overflow: hidden;
 font-size: 32px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: -.8px;
    color:#000
}

#main .area_feature {
    padding-bottom: 50px;
}

#main .inner_featureopt4 {
    max-width: 816px;
    margin: 0 auto;
    text-align: center;
}

#main .slick_slider {
    position: relative;
    display: block;
}

#main .slick_list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#main .slick_track {
    width: 4896px;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

#main .slick_current {
    display: block;
    outline: none;
    width: 816px;
    float: left;
    height: 100%;
    min-height: 1px;
}

#main .slick_slide {
    display: block;
    outline: none;
    width: 816px;
    float: left;
    height: 100%;
    min-height: 1px;
}

#main .item_feature {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-bottom: 121px;
}

#main .group_desc {

}

#main .wrap_desc {
    min-height: 148px;
}

#main .wrap_desc strong {
    line-height: 1.1;
    overflow: hidden;
    display: block;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -.8px;
    color:#000
}

#main .wrap_desc p {
    margin: 24px auto 0;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: -.5px;
    color:#666
}

#main .group_thumb {
    margin-top: 36px;
}

#main .item_thumb img {
    width: 100%;
    display: block;
}

#main .slick_arrow {
    position: absolute;
    left: -62px;
    width: 42px;
    height: 42px;
    bottom: 332px;
    cursor: default;
    opacity: .5;
    border-radius: 23px;
}

#main .slick_arrow img {
    width: 34px;
}

#main .slick_next {
    position: absolute;
    right: -62px;
    width: 42px;
    height: 42px;
    bottom: 332px;
     border-radius: 23px;
     cursor: default;
}

#main .slick_next img {
     width: 34px;
}

#main .custom_per {
    position: absolute;
    display: block;
    bottom: 70px;
    left: 50%;
    font-size: 16px;
    line-height: 24px;
    color: #666;
}

#main .opt12 {
    height: 700px
}

#main .opt12 > .group_desc {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
}

#main .wrap_desc1 {
    position: absolute;
    top: 50%;
    right: 68px;
    max-width: 345px;
}

#main .wrap_desc1 strong {
    overflow: hidden;
    display: block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.44;
    /* letter-spacing: -.8px; */
    color: #000
}

#main .wrap_desc1 p {
    overflow: hidden;
    margin-top: 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #666
}

#main .wrap_link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

#main .wrap_link a {
    display: inline-block;
    padding: 8px 20px 10px;
    margin: 8px 8px 0 0;
    border-radius: 24px;
    background-color: #eee;
    font-weight: 700;
    line-height: 24px;
    /* letter-spacing: -.2px; */
     color: #000;
         font-size: 14px;
}

#main .wrap_link a img {
    width: 16px;
    padding-left: 7px;
    margin-bottom: 3px;
}

#main .group_thumb1 {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
}

#main .wrap_thumb1 {
    width: 734px;
    border-radius: 24px;
    position: absolute;
    top: 50%;
    left: 124px;
}

#main .slick_slider1 {
    position: relative;
    display: block;
}

#main .slick_track1 {
    width: 734px;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

#main .slick_slide1 {
    outline: none;
    width: 734px;
    position: relative;
    left: 0px;
    opacity: 1;
    float: left;
    height: 100%;
    min-height: 1px;
    display: block;
}

#main .item_thumb1 {
    width: 694px !important;
    border-radius: 24px;
}

#main .item_thumb1 img {
    border-radius: 24px;
    width: 100%;
}

#main .opt_emoticon {
    height: 1270px;
}

#main .group_desc_emoticon {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

#main .wrap_desc_emoticon {
    position: absolute;
    top: 50%;
    right: 68px;
    max-width: 340px;
    transform: translateY(-50%);
}

#main .wrap_desc_emoticon strong {
    overflow: hidden;
    display: block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.44;
    letter-spacing: -.8px;
    color: #000;
}

#main .wrap_desc_emoticon p {
    overflow: hidden;
    margin-top: 24px;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: -.5px;
    color:#666
}

#main .wrap_link13 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

#main .wrap_link13 a {
    display: inline-block;
    padding: 8px 20px 10px;
    margin: 8px 8px 0 0;
    border-radius: 24px;
    background-color: #eee;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -.2px;
    color:#000;
    white-space: nowrap;
}

#main .group_thumb_emoticon {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
}

#main .wrap_thumb_emoticon {
    position: absolute;
    top: 50%;
    left: 124px;
    transform: translateY(-50%);
}

#main .slick_slider_emoticon {
    position: relative;
    display: block;
}

#main .slick_list_emoticon {
    overflow: visible;
}

#main .slick_track_emoticon {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    transform: translateZ(0);
    width: 930px;
    opacity: 1;
}

#main .slick_slide_emoticon {
    outline: none;
    width: 310px;
    position: relative;
    left: 0px;
    /* opacity: 0; */
    transition: opacity 500ms, visibility 500ms;
    display: block;
    /* display: none; */
    float: left;
    height: 100%;
    min-height: 1px;
}

#main .item_thumb_emoticon {
    width: 270px !important;
    border-radius: 20px;
    position: relative;
    display: block !important;
    box-shadow: 14px 14px 40px rgba(0, 0, 0, .2);
}

#main .item_thumb_emoticon::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid #000;
    box-sizing: border-box;
    z-index: 10;
    content: "";
    border-radius: 20px;
}

#main .item_thumb_emoticon img {
    width: 100%;
    border-radius: 20px;
}

#main .slick_slide_emoticon1 {
    display: block;
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    z-index: 998;
}

#main .item_thumb_emoticon1 {
    width: 270px !important;
    border-radius: 20px;
    position: relative;
    display: block !important;
    box-shadow: 14px 14px 40px rgba(0, 0, 0, .2);
}

#main .item_thumb_emoticon1 img {
    width: 100%;
    border-radius: 20px;
    display: block;
}

#main .slick_slide_emoticon2 {
    display: block;
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    z-index: 998;
}

#main .item_thumb_emoticon2 {
    width: 270px !important;
    border-radius: 20px;
    position: relative;
    display: block !important;
    box-shadow: 14px 14px 40px rgba(0, 0, 0, .2);
}

#main .item_thumb_emoticon2 img {
    width: 100%;
    border-radius: 20px;
    display: block;
}

#main

#main

#main

#main

#main

#main .slick_slider_emoticon .slick_prev13 {
    position: absolute !important;
    width: 32px !important;
    height: 32px !important;
    top: 50% !important;
    transform: translateY(-50%);
    left: -4% !important;
    margin-left: 71px;
    border-radius: 23px;
    z-index: 9999;
}

#main .slick_prev13 img {
    width: 25px;
}

#main .slick_slider_emoticon .slick_next13 {
    position: absolute;
    width: 32px;
    height: 32px;
    margin-left: 71px;
    /* bottom: -72px; */
    top: 600px;
    left: 12%;
    border-radius: 23px;
}

#main .slick_next13 img {
    width: 25px;
}

#main .slick_dots {
    display: block;
    /* bottom: -51px; */
    top: 600px;
    left: 12%;
    position: absolute;
    font-size: 16px;
    line-height: 24px;
    color: #666;
    width: 32px;
}

#main

#main

#main

#main

#main

#main


#main

#main

#main

#main

#main

#main

#main

#main

#main

#main

#main

#main

#main

#main

#main

#main

#main

#main

#main

#main

#main

#main

#main

#main

#main

#main

#main

#main

