.slick_slider {
  /* overflow: hidden; */
  position: relative;
}

.slick_track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: auto;     
}

.slick_slide {
  flex: 0 0 100%;
  box-sizing: border-box;
}

/* 스크립트 페이드업 css */

.fade-in-up {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.fade-in-up.show {
  opacity: 1;
  transform: translateY(0);
}

/* 오버레이 */

.gnb_overlay{
  display:none;            
  position:fixed;
  top:0; left:0;
  width:100%; height:100%;
  background:rgba(0,0,0,.45); 
  z-index:900;               
}

body {
    word-break: keep-all;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #333;
}

#bady_container {

}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    background: #fff;
    transition: top .2s ease-in-out;
    z-index: 3000;
}

header .header_inner {
     max-width: 1300px;
    height: 91px;
    display: flex;
     justify-content: space-between;
     align-items: center;
    position: relative;
    margin: 0 auto;
    
}

header .screen_logo {
    font-weight: 400;
    font-size: 26px;
}

#gnb_menu {
    position: absolute;
    top: 28px;
    left: 26%;
    letter-spacing: -.5px;
    font-size: 14px;
}

header .gnb_list {
    column-gap: 40px;
    display: flex;
    /*  */
    
}

header .item_menu {
  display: block;
  font-size: 15px;
  font-weight: 500;
  padding: 4px 16px 6px;
  border-radius: 999px;
  line-height: 27px;
  color: #333;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

header .item_menu.active {
  background-color: #000;
  color: #fff;
}

#main_Menu-0 {
  display: none;
    position: absolute;
    top: 64px;
    left: -20px;
    padding: 35px;
    border: 1px solid #eee;
    border-top: none;
    border-radius: 0 0 24px 24px;
    background: #fff;
    height: 300px;
}

#main_Menu-2 {
  display: none;                 
  position: absolute;
  top: 64px;
  left: 33px;
  padding: 35px;
  border: 1px solid #eee;
  border-top: none;
  border-radius: 0 0 24px 24px;
  background: #fff;
}

#main_Menu-3 {
  display: none;                 
  position: absolute;
  top: 64px;
  left: -12px;
  padding: 35px;
  border: 1px solid #eee;
  border-top: none;
  border-radius: 0 0 24px 24px;
  background: #fff;
}

li.on #main_Menu-0 {
  display: flex;
}

header .list_second {
    margin-top: -12px;
}

header .list_seconded {
    display: flex;
    margin-top: -12px;
}

header .list_seconded li a{
    display: block;
    min-width: 142px;
    margin-top: 12px;
    font-size: 17px;
    line-height: 28px;
    color: #000;
    white-space: pre-line;
}

header .list_second li a{
    display: block;
    min-width: 142px;
    margin-top: 12px;
    font-size: 17px;
    line-height: 28px;
    color: #000;
    white-space: pre-line;
}

header .cont_menu {
    width: 294px;
    padding-left: 36px;
    border-left: 1px solid #eee;
}

header .cont_menued {
    width: 325px;
    padding-left: 36px;
    border-left: 1px solid #eee;
}

header .slick-initialized {
    position: relative;
    display: block;
}

header .slick-listed {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

header .slick-tracked {
    width: 597px;
    opacity: 1;
}

header .slick-tracked::before {
    display: table;
    content: "";
}

header .slick-currented {
    display: block;
    outline: none;
    width: 280px;
    height: 101px;
    position: relative;
    left: 0px;
    opacity: 1;
    float: left;
    height: 132%;
    min-height: 1px;
    z-index: 999;
}

header .slick-currented2 {
    height: 313px;
}

header .slick-currenteded {
    display: block;
    outline: none;
    width: 199px;
    position: relative;
    left: 0px;
    opacity: 1;
    float: left;
    height: 100%;
    min-height: 1px;
    z-index: 999;
}

header .slick-currentededed {
    display: block;
    outline: none;
    width: 314px;
    position: relative;
    left: 0px;
    opacity: 1;
    float: left;
    height: 100%;
    min-height: 1px;
    z-index: 999;
}

header .slick-currented1 {
    display: block;
    outline: none;
    /* width: 199px; */
    position: relative;
    left: -199px;
    opacity: 1;
    float: left;
    height: 100%;
    min-height: 1px;
    z-index: 998;
}

header .slick-currented23 {
    display: block;
    outline: none;
    /* width: 199px; */
    position: relative;
    left: -398px;
    opacity: 1;
    float: left;
    height: 100%;
    min-height: 1px;
    z-index: 998;
}

header .slick-currented2 a {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

header .slick-currented2 a img {
    display: block;
    width: 100%;
    height: 153px;
    border-radius: 16px 16px 0 0;
}

header .wrap_conted {
    min-height: 130px;
    padding: 20px;
    border-radius: 0 0 16px 16px;
    background-color: #f3f3f3;
    box-sizing: border-box;
    margin-bottom: 4px;
}

header .wrap_conteded {
    min-height: 130px;
    padding: 20px;
    border-radius:16px;
    background-color: #f3f3f3;
    box-sizing: border-box;
    margin-bottom: 4px;
}

header .wrap_conted img {
    width: 23px;
    display: inline-block;
    margin: 2px 8px 0 0;
    vertical-align: top;
}

header .wrap_conted strong {
    overflow: hidden;
    display: -webkit-box;
    margin-top: 8px;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #000;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

header .wrap_conteded img {
    width: 23px;
    display: inline-block;
    margin: 2px 8px 0 0;
    vertical-align: top;
}

header .wrap_conteded strong {
    overflow: hidden;
    display: -webkit-box;
    margin-top: 8px;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #000;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

header .txt_category {
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.2px;
    vertical-align: top;
    padding: 4px 12px;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
}


.area_util .btn_search {
    width: 49px;
    height: 28px;
    border-radius: 18px;
    color: #333;
    background: none;
}

.btn_search .ico_search {
    width: 24px;
    height: 24px;
}

.area_util .btn_language {
    margin-left: 10px;
    width: 21px;
    height: 28px;
    border-radius: 18px;
    color: #333;
     background: none;
}

.btn_language .ico_mode_dark {
    width: 24px;
    height: 24px;
}

.area_util .btn_mode {
     margin-left: 10px;
    width: 49px;
    height: 28px;
    border-radius: 18px;
    color: #333;
     background: none;
}

.area_util2 {
    display: none;
}

.btn_mode .ico_mode_dark {
    width: 24px;
    height: 24px;
}

/* main */

#main {

}

#main .main_inner {
    padding-top: 91px;
}

#main .content_feature {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    position: fixed;
    width: 100%;
    top: 91px;
    z-index: 1000;
    background: #fff;
}

#main .inner_path {
    max-width: 1300px;
    display: flex;
    position: relative;
    margin: 0 auto;
    justify-content: space-between;
}

#main .wrap_tit {
    padding: 18px 0 22px;
}

#main .tit_path {
    display: inline-block;
    margin: 2px 0 1px;
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -.28px;
    color: #000;
}

#main .wrap_download {
    display: flex;
    padding: 24px 0;
}

#main .item_direct a {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -.23px;
    color: #000;
}

#main .data-1::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 16px;
    margin: 0 20px -2px;
    background-color: #d8d8d8;
}

#main .data-2 {
    display: none;
}

#main .btn_download img {
    width: 19px;
    height: 17px;
}

#main .ico_download_circle {
    width: 16px;
    height: 16px;
    margin: 4px 0 0 4px;
}

#main .main_content {
    padding-top: 74px;
}

#main .content_service {
    position: relative;
    overflow-x: hidden;
    padding-top: 72px;
}

#main .section_intro1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
}

#main .area_title {
    max-width: 816px;
    min-height: auto;
    padding-top: 72px;
    margin: 0 auto 72px;
    text-align: center;
}

#main .wrap_subinfo {
    line-height: 20px;
}

#main .wrap_subinfo > span {
    font-size: 22px;
    font-weight: 400;
    color: #333;
    letter-spacing: -.5px;
}

#main .title_h3 {
    overflow: hidden;
    display: block;
    margin-top: 24px;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -1px;
    color: #000;
}

#main .wrap_share {
    margin-top: 48px;
}

#main .list_share {
    position: relative;
}

#main .list_share li {
    display: inline-block;
}

#main .list_share1 {
    display: inline-block;
    border-radius: 100px;
    background-color: #eee;
    width: 36px;
    height: 33px;
}

#main .list_share1 img{
    width: 24px;
    padding-top: 4px;
}

#main .list_share2 {
    display: inline-block;
    border-radius: 100px;
    background-color: #eee;
    width: 36px;
    height: 33px;
    margin-left: 8px;
}

#main .list_share2 img {
    width: 24px;
    padding-top: 4px;
}

#main .list_share3 {
    display: inline-block;
    border-radius: 100px;
    background-color: #eee;
    width: 36px;
    height: 33px;
    margin-left: 8px;
}

#main .list_share3 img {
    width: 24px;
    padding-top: 4px;
}

#main .list_share4 {
    display: inline-block;
    border-radius: 100px;
    background-color: #eee;
    width: 36px;
    height: 33px;
    margin-left: 8px;
}

#main .list_share4 img {
    width: 24px;
    padding-top: 4px;
}

#main .area_visual {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 72px);
  max-width: 1920px;
  margin: 0 auto;
}

/* specificity 높이기 위해 "> img" 사용 */
#main .area_visual > img {
  position: absolute;
  inset: 0;               /* top:0; right:0; bottom:0; left:0 */
  width: 100%;
  object-fit: cover;
  transform: translateY(0);            /* 초기 위치 */
  transition: transform 1s ease-in-out;
  will-change: transform;
}

/* up 클래스가 붙으면 위로 120% */
#main .area_visual.up > img {
  transform: translateY(-120%);
  transition: transform 1s ease-in-out;
}

#main .section_featrure {
    position: relative;
}

#main .area_intro {
  height: calc(100vh - 72px);
  position: relative;
  opacity: 0.2;
  transition: opacity 0.8s ease;
}

#main .area_intro.show {
  opacity: 1;
}

/* 애니메이션 */


/*  */

#main .inner_cont {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 816px;
    transform: translate(-50%, -50%);
    text-align: center;
}

#main .inner_cont img {
    max-width: 100%;
    max-height: 84px;
    margin-bottom: 36px;
}

#main .inner_cont p {
 overflow: hidden;
 font-size: 32px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: -.8px;
    color:#000
}

#main .area_feature {
    /* padding-bottom: 50px; */
}

#main .inner_featureopt4 {
    max-width: 816px;
    margin: 0 auto;
    text-align: center;
}

#main .slick_slider {
    position: relative;
    display: block;
}

#main .slick_list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#main .slick_track {
    width: 4896px;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

#main .slick_current {
    display: block;
    outline: none;
    width: 816px;
    float: left;
    height: 100%;
    min-height: 1px;
}

#main .slick_slide {
    display: block;
    outline: none;
    width: 816px;
    float: left;
    height: 100%;
    min-height: 1px;
}

#main .item_feature {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-bottom: 121px;
}

#main .group_desc {

}

#main .wrap_desc {
    min-height: 148px;
}

#main .wrap_desc strong {
    line-height: 1.1;
    overflow: hidden;
    display: block;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -.8px;
    color:#000
}

#main .wrap_desc p {
    margin: 24px auto 0;
    overflow: hidden;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: -.5px;
    color:#666
}

#main .group_thumb {
    margin-top: 36px;
}

#main .item_thumb img {
    width: 100%;
    display: block;
}

#main .slick_arrow {
    position: absolute;
    left: -62px;
    width: 42px;
    height: 42px;
    bottom: 332px;
    cursor: default;
    opacity: .5;
    border-radius: 23px;
     pointer-events: auto;    
      background: rgba(255,255,255,0.8); 
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

#main .slick_arrow img {
    width: 34px;
}

#main .slick_next {
    position: absolute;
    right: -62px;
    width: 42px;
    height: 42px;
    bottom: 332px;
     border-radius: 23px;
     cursor: default;
      pointer-events: auto;    
}

#main .slick_next img {
     width: 34px;
}

#main .custom_per {
    position: absolute;
    display: block;
    bottom: 70px;
    left: 50%;
    font-size: 16px;
    line-height: 24px;
    color: #666;
}

#main .opt12 {
    height: 700px
}

#main .opt12 > .group_desc {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
}

#main .wrap_desc1 {
    position: absolute;
    top: 50%;
    right: 68px;
    max-width: 345px;
}

#main .wrap_desc1 strong {
    overflow: hidden;
    display: block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.44;
    /* letter-spacing: -.8px; */
    color: #000
}

#main .wrap_desc1 p {
    overflow: hidden;
    margin-top: 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #666
}

#main .wrap_link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

#main .wrap_link a {
    display: inline-block;
    padding: 8px 20px 10px;
    margin: 8px 8px 0 0;
    border-radius: 24px;
    background-color: #eee;
    font-weight: 700;
    line-height: 24px;
    /* letter-spacing: -.2px; */
     color: #000;
         font-size: 14px;
}

#main .wrap_link a img {
    width: 16px;
    padding-left: 7px;
    margin-bottom: 3px;
}

#main .group_thumb1 {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
}

#main .wrap_thumb1 {
    width: 734px;
    border-radius: 24px;
    position: absolute;
    top: 50%;
    left: 124px;
}

#main .slick_slider1 {
    position: relative;
    display: block;
}

#main .slick_track1 {
    width: 734px;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

#main .slick_slide1 {
    outline: none;
    width: 734px;
    position: relative;
    left: 0px;
    opacity: 1;
    float: left;
    height: 100%;
    min-height: 1px;
    display: block;
}

#main .item_thumb1 {
    width: 694px !important;
    border-radius: 24px;
}

#main .item_thumb1 img {
    border-radius: 24px;
    width: 100%;
}

#main .opt_emoticon {
    height: 1270px;
}

#main .group_desc_emoticon {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

#main .wrap_desc_emoticon {
    position: absolute;
    top: 50%;
    right: 68px;
    max-width: 340px;
    transform: translateY(-50%);
}

#main .wrap_desc_emoticon strong {
    overflow: hidden;
    display: block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.44;
    letter-spacing: -.8px;
    color: #000;
}

#main .wrap_desc_emoticon p {
    overflow: hidden;
    margin-top: 24px;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: -.5px;
    color:#666
}

#main .wrap_link13 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

#main .wrap_link13 a {
    display: inline-block;
    padding: 8px 20px 10px;
    margin: 8px 8px 0 0;
    border-radius: 24px;
    background-color: #eee;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -.2px;
    color:#000;
    white-space: nowrap;
}

#main .wrap_link13 a span {
    font-size: 14px;
}

#main .group_thumb_emoticon {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
}

#main .wrap_thumb_emoticon {
    position: absolute;
    top: 50%;
    left: 124px;
    transform: translateY(-50%);
}

#main .slick_slider_emoticon {
    position: relative;
    display: block;
}

#main .slick_list_emoticon {
    overflow: visible;
}

#main .slick_track_emoticon {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    transform: translateZ(0);
    width: 930px;
    opacity: 1;
}



#main .slick_slide_emoticon {
    outline: none;
    width: 310px;
    position: relative;
    left: 0px;
    /* opacity: 0; */
    transition: opacity 500ms, visibility 500ms;
    display: block;
    /* display: none; */
    float: left;
    height: 100%;
    min-height: 1px;
}

#main .item_thumb_emoticon {
    width: 270px !important;
    border-radius: 20px;
    position: relative;
    display: block !important;
    box-shadow: 14px 14px 40px rgba(0, 0, 0, .2);
}

#main .item_thumb_emoticon::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid #000;
    box-sizing: border-box;
    z-index: 10;
    content: "";
    border-radius: 20px;
}

#main .item_thumb_emoticon img {
    width: 100%;
    border-radius: 20px;
}

#main .slick_slide_emoticon1 {
    display: block;
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    z-index: 998;
}

#main .item_thumb_emoticon1::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid #000;
    box-sizing: border-box;
    z-index: 10;
    content: "";
    border-radius: 20px;
}

#main .item_thumb_emoticon1 {
    width: 270px !important;
    border-radius: 20px;
    position: relative;
    display: block !important;
    box-shadow: 14px 14px 40px rgba(0, 0, 0, .2);
}

#main .item_thumb_emoticon1 img {
    width: 100%;
    border-radius: 20px;
    display: block;
}

#main .slick_slide_emoticon2 {
    display: block;
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    z-index: 998;
}

#main .item_thumb_emoticon2::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid #000;
    box-sizing: border-box;
    z-index: 10;
    content: "";
    border-radius: 20px;
}

#main .item_thumb_emoticon2 {
    width: 270px !important;
    border-radius: 20px;
    position: relative;
    display: block !important;
    box-shadow: 14px 14px 40px rgba(0, 0, 0, .2);
}

#main .item_thumb_emoticon2 img {
    width: 100%;
    border-radius: 20px;
    display: block;
}

#main .slick_prev13 {
    position: absolute;
    width: 32px;
    height: 32px;
    margin-left: -70px;
    top: 600px;
    left: 12%;
    border-radius: 23px;
}

#main .slick_prev13 img {
    width: 25px;
}

#main .slick_slider_emoticon .slick_next13 {
    position: absolute;
    width: 32px;
    height: 32px;
    margin-left: 71px;
    /* bottom: -72px; */
    top: 600px;
    left: 12%;
    border-radius: 23px;
}

#main .slick_next13 img {
    width: 25px;
}

#main .slick_dots {
    display: block;
    /* bottom: -51px; */
    top: 600px;
    left: 12%;
    position: absolute;
    font-size: 16px;
    line-height: 24px;
    color: #666;
    width: 32px;
}

/* 버튼 js */

.slick_prev13.is-disabled,
.slick_next13.is-disabled {
  opacity: .3;            /* 흐리게 */
  pointer-events: none;   /* 클릭 차단 */
}

/* 쇼핑 */

#main .opt_Shopping { 
    height: 900px;
}

/* 채널 */

#main .opt_Channel {
    height: 900px;
}

#main .wrap_link15 {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

#main .wrap_link15 a {
     display: inline-block;
    padding: 8px 20px 10px;
    margin: 8px 8px 0 0;
    border-radius: 24px;
    background-color: #eee;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -.2px;
    color:#000;
    white-space: nowrap;
}

#main .wrap_link15 a span {
    font-size: 14px;
}

/* 메일 */

#main .opt_Mail {
    height: 900px;
}

/* 테마 */

#main .opt_Theme {
     height: 900px;
}

/* 지갑 */

#main .opt_Wallet {
    height: 900px;
}

/* 실험실 */

#main .opt_Laboratory {
    height: 900px;
}

#main .area_subinfo {
    max-width: 816px;
    margin: 0 auto;
    padding-top: 80px;
}

#main .wrap_share {
    text-align: center;
}

#main .list_share {
    position: relative;
}

#main .list_share li {
    display: inline-block;
    background-color: #eee;
    border-radius: 22px;
    margin-left: 8px;
}

#main .list_share li a {
    height: 33px;
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    border-radius: 50%;
}

#main .list_share li a img {
    width: 18px;
    height: 18px;
    display: block;
}

#main .wrap_tag {
    text-align: center;
}

#main .wrap_tag a {
    margin-top: 10px;
    color:#000;
    background-color:#eee;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: 34px;
    margin-right: 6px;
    padding: 0 15px;
    border-radius: 34px;
    font-size: 13px;
    line-height: 34px;
    vertical-align: top;
    letter-spacing: -.5px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#main .section_relation {
    position: relative;
    max-width: 1296px;
    padding-bottom: 182px;
    margin: 0 auto;
}

#main .area_sevicelink {
    padding: 80px 0;
    margin-top: 181px;
    border-radius: 12px;
    text-align: center;
    background: #f7f7f7;
}

#main .inner_links {
    max-width: 816px;
    margin: 0 auto;
}

#main .inner_links img {
    max-width: 100%;
    max-height: 108px;
    margin-bottom: 60px;
}

#main .inner_links p {
    overflow: hidden;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.44;
    letter-spacing: -.8px;
    color:#000;
}

#main .wrap-link10 {
    margin-top: 36px;
}

#main .wrap-link10 a {
    display: inline-block;
    margin-top: 12px;
    margin-left: 7px;
}

#main .wrap-link10 a span {
    display: inline-block;
    padding: 8px 20px 10px;
    border-radius: 24px;
    background-color: #000;
    color: #fff;
    line-height: 24px;
    letter-spacing: -.2px;
}

#main .link_lista {
    margin-top: 80px;
    display: block;
    width: 180px;
    margin: 120px auto 0;
    padding: 13px 0 19px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -.5px;
    text-align: center;
    box-sizing: border-box;
    color:#000;
    background-color: #eee;
}

#main .area_relations {
    margin-top: 180px;
    padding: 60px 0;
    border-top: 1px solid #eee;
}

#main .tit-relation {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -.6px;
    color:#000;
}

#main .list_card_news {
    margin-top: 52px;
    display: grid;
    gap: 36px;
    grid-template-columns: repeat(3, 1fr);
}

#main .list_card_news li {
    overflow-x: hidden;
}

#main .item_normal_card {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    background-color:#f3f3f3;
    border-radius: 16px;
    width: 100%;
    height: 100%;
}

#main .inner_cards {
    box-sizing: border-box;
    display: block;
    position: relative;
    padding: 32px 32px 0;
}

#main .info_cate {
    display: block;
    height: 36px;
    padding-right: 24px;
    font-size: 0;
}

#main .info_cate img {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 8px;
    vertical-align: top;
}

#main .txt_catet {
    display: inline-block;
    position: relative;
    height: 36px;
    padding: 0 12px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: -.2px;
    vertical-align: top;
    background-color:#fff;
     color:#000;
}

#main .txt_datet {
    display: inline-block;
    margin-left: 8px;
    font-size: 12px;
    line-height: 36px;
    letter-spacing: -.2px;
    color:#333;
}

#main .link_itemt {
    display: block;
    margin: 0 -32px;
    font-size: 1px;
    outline-offset: -4px;
}

#main .tit_cardt {
    display: -webkit-box;
    overflow: hidden;
    height: 108px;
    margin-top: 16px;
    padding: 0 32px;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: -.6px;
    color:#000;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

#main .wrap_thumb {
    position: relative;
    display: block;
    height: 229px;
    margin-top: 81px;
}

#main .wrap_thumb img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    height: 100%;
    min-width: 100%;
}

#main .info_cardts {
    overflow: hidden;
    position: absolute;
    top: 224px;
    left: 32px;
    right: 32px;
    height: 26px;
    font-size: 16px;
    line-height: 26px;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
    color: #666;
}

#main .txt_keyword {
    margin-right: 8px;
    vertical-align: top;
    letter-spacing: -.5px;
    font-size: 16px;
    line-height: 26px;
     color: #666;
     white-space: nowrap;
     pointer-events: none;
}

#main .btn_shares {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 38px;
    right: 32px;
    z-index: 20;
    width: 24px;
    height: 24px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

#main .btn_shares img {
     width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

#main .like_tops {
    position: absolute;
    bottom: 36px;
    right: 0;
    width: 52px;
    height: 50px;
    border-radius: 50%; 
    background-color: #eee; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

#main .up_text {
    width: 70%; 
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden; 
}

#main .up_text img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.doc_footer {
    background: #fff;
    border-top: 1px solid #000;
}

.inner_footer {
    max-width: 1316px;
    margin: 0 auto;
    padding: 81px 0 48px;
}

.section_servive {
    display: flex;
}

.wrap_servicef {
    padding-top: 56px;
    position: relative;
    flex: 1;
    color: #000;
}

.wrap_servicef h3 {
position: absolute;
    left: 0;
    top: 0;
    display: block;
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 1.38;
    letter-spacing: -.6px;
}

.item_servicef {
    margin-bottom: 7px;
}

.item_servicef a {
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: -.2px;
    color: #333;
}

.wrap_serviceff {
    margin-left: 10px;
    padding-top: 97px;
    position: relative;
    -webkit-box-flex: 1;
    flex: 1;
    color: #000;
}

.inner_serviceff strong {
    position: absolute;
    top: 56px;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: -.5px;
    margin-bottom: 12px;
    font-family: KakaoBig;
    color:#000;
}

.item_serviceff {
 margin-bottom: 7px;
}

.item_serviceff :hover {
    color: #000;
}

.item_serviceff a {
    color: #888;
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: -.2px;
}

.section_relationf {
    margin-top: 120px;
}

.group_infof {
    float: left;
    margin-left: -24px;
}

.wrap_infof {
    float: left;
    position: relative;
    line-height: 18px;
    margin-left: 31px;
}

.wrap_infof :hover {
 color: #000;
}

.wrap_infof a {
    font-size: 12px;
    letter-spacing: -.2px;
    color: #888;
}

.wrap_relationf {
    float: right;
    position: relative;
    width: 208px;
}

.tit_relationff a {
    display: block;
    border-radius: 24px;
    padding: 10px 20px 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -.2px;
    background: #eee;
    color: #000;
}

.relation_toggle_btn {
    width: 209px;
    display: block;
    padding: 10px 20px 12px;
    background: #eee;
    border-radius: 24px;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    line-height: 18px;
    letter-spacing: -.2px;
    text-align: justify;
}

.toggle_icon {
   width: 17px;
    position: absolute;
    top: 11px;
    right: 22px;
}

.toggle_icon {
  transition: transform 0.3s ease;
}

.toggle_icon.active {
  transform: rotate(45deg);
}

.list_subunfoffs {
    display: none; 
    width: 100%;
    position: absolute;
    bottom: 52px; 
    left: 0;
    padding: 16px 0;
    border-radius: 12px;
    background: #eee;
    z-index: 999; 
    transition: opacity 0.3s ease;
    opacity: 1;
}

.list_subunfoffs.active {
    display: block;
    opacity: 1;
}

.list_subunfoffs li a {
    display: block;
    padding: 2px 21px;
    font-size: 13px;
    white-space: nowrap;
    color: #666;
}

.txt_ffff {
    display: block;
    padding-top: 6px;
    font-size: 13px;
    letter-spacing: -.2px;
    color: #888;
    clear: both;
}

.txt_ffff a {
        color: #888;
}

@media (max-width: 767px) {
  #gnb_menu {
    display: none;
  }

  header .header_inner {
    box-sizing: border-box;
    max-width: 412px;
    padding: 0 14px;
   height: 91px;
    display: flex;
    align-items: center;     
    justify-content: space-between; 
  }

  .area_util {
    display: none;
  }

  .area_util2 {
    display: block;
  }

  .magnifying {
    margin-right: 29px;
  }

  .magnifying img {
    width: 24px;
  }

  .hamburger img {
    width: 28px;
  }

  #main .inner_path {
    max-width: 364px;
     padding-left: 24px;
    padding-right: 24px;
  }

  #main .item_direct {
    display: none;
  }

  #main .btn_download img {
    display: block;
  }

  #main .data-2 {
    display: block;
  }

  #main .content_service {
    padding-top: 0px;
    
  }

  #main .area_title {
    max-width: 364px;
     padding-left: 24px;
     padding-right: 24px;
  }

  #main .wrap_subinfo > span {
    font-size: 13px;
    letter-spacing: -.2px;
  }

  #main .title_h3 {
    margin-top: 12px;
        font-size: 32px;
        line-height: 1.38;
  }

  #main .list_share {
    position: relative;
}

#main .list_share li {
    display: inline-block;
}

#main .list_share1 {
   
}

#main .list_share1 img {
   
}

#main .area_visual {
    height: 307px;
}

#main .section_featrure {
    padding-bottom: 0px;
    /* margin-bottom: -277px; */
}

#main .area_intro {
    margin: 0 auto;
    max-width: 364px;
    padding-left: 24px;
    padding-right: 24px;
}

#main .area_intro p {
    font-size: 22px;
     line-height: 1.45;
}

#main .area_feature {
    margin: 0 auto;
    max-width: 364px;
    padding-left: 24px;
    padding-right: 24px;
}

#main .slick_slide {
    outline: none;
    width: 364px;
}

#main .wrap_desc {
    min-height: 226px;
}

#main .wrap_desc strong {
    font-size: 26px;
    letter-spacing: -.6px;
    line-height: 1.3;
}

#main .wrap_desc p {
    margin: 24px auto 0;
    font-size: 16px;
}

#main .slick_arrow {
    width: 30px;
    height: 30px;
    bottom: 75px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-left: -64px;
}

#main .slick_arrow img {
            width: 17px;
}

#main .slick_next {
    width: 30px;
    height: 30px;
    bottom: 75px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-left: 64px;
}

#main .slick_next img {
            width: 17px;
}

#main .custom_per {
    bottom: 80px;
            left: 46%;
}

#main .opt12 {
   margin-top: 122px;
   height: auto;
   text-align: center;
}

#main .opt12 > .group_desc {
    margin-top: 122px;
    height: auto;
    text-align: center;
    float: none; 
    width: 100%;
    height: auto;
     text-align: center;
}

#main .wrap_desc1 {
    position: static;
    top: auto;
    right: auto;
    max-width: 464px;
    margin: 0 auto;
    transform: none;
}

#main .wrap_desc1 strong {
    font-size: 26px;
    letter-spacing: -.6px;
}

#main .wrap_desc1 p {
    
}

#main .wrap_link {
    margin-top: 28px;
}

#main .group_thumb1 {
    position: relative;
        float: none;
        width: 569px;
        height: 319px;
        margin: 72px 0 0 20px;
        left: -114px;
}

#main .wrap_thumb1 {
    position: static;
    transform: none;
        margin: 0 auto;
}

#main .slick_track1 ::before{
    display: table;
    content: "";
}

#main .item_thumb1 {
    width: 538px !important;
    border-radius: 24px;
}

#main .item_thumb1::before {
    position: absolute;
        top: 0;
        left: 0;
        width: 74%;
        height: 100%;
        border: 5px solid #000;
        box-sizing: border-box;
        z-index: 10;
        border-radius: 16px;
        content: "";
}

#main .opt_emoticon {
    height: auto;
    text-align: center;
    margin-top: 144px;
}

#main .group_desc_emoticon {
    position: static;
    float: none;
    width: 100%;
    height: auto;
}

#main .wrap_desc_emoticon {
    position: static;
    top: auto;
    right: auto;
    max-width: 464px;
    margin: 0 auto;
    -webkit-transform: none;
    transform: none;
}

#main .wrap_desc_emoticon strong {
    font-size: 26px;
    letter-spacing: -.6px;
}

#main .wrap_link13 {
    margin-top: 28px;
}

#main .group_thumb_emoticon {
    position: static;
    float: none;
    width: 100%;
    height: auto;
    margin: 72px 0 0 20px;
    margin-top: 48px;
}

#main .wrap_thumb_emoticon {
    position: relative;
    top: auto;
    left: auto;
    margin: 0 auto;
    transform: none;
    width: auto;
    max-width: 226px;
}

#main .slick_slider_emoticon {

}

#main .slick_list_emoticon {

}

#main .slick_track_emoticon {
    width: 678px;
    opacity: 1;
}

#main .slick_track_emoticon ::before {
    display: table;
    content: "";
}

#main .slick_slide_emoticon {

}

#main .item_thumb_emoticon {
    width: auto !important;
        max-width: 186px;
        border-radius: 17px;
}

#main .item_thumb_emoticon1 {
    width: auto !important;
    max-width: 186px;
    border-radius: 17px;
}

#main .item_thumb_emoticon2 {
    width: auto !important;
    max-width: 186px;
    border-radius: 17px;
}

/*  item_thumb_emoticon 이미지 */
#main .item_thumb_emoticon img {
    border-radius: 17px;
    width: 100%;
}

#main .slick_prev13 {
top: 420px;
        margin-left: -18px;
}

#main .slick_next13 {
    top: 420px !important;
    margin-left: 109px!important;
}

#main .slick_dots {
    top: 420px;
        margin-left: 42px;
}

/* 쇼핑 */

#main .opt_Shopping {
margin-top: 600px;

}

#main .wrap_desc_emoticon {
    position: static;
        top: auto;
        right: auto;
        max-width: 464px;
        margin: 0 auto;
        -webkit-transform: none;
        transform: none;
        text-align: center;
}

#main .opt_Theme {
    margin-bottom: 100px;
}

#main .opt_Laboratory {
    margin-bottom: -254px;
}

#main .section_relation {
    max-width: 364px;
    padding-left: 24px;
    padding-right: 24px;
}

#main .area_sevicelink {
    padding-left: 40px;
    padding-right: 40px;
}

#main .inner_links {

}

#main .inner_links p {
    font-size: 22px;
    line-height: 1.45;
}

#main .wrap-link10 a {
    display: block;
     margin: 0 auto;
     margin-bottom: 7px;
}

main .wrap-link10 a span {
    font-size: 14px;
}

#main .link_lista {
    width: 150px;
        padding: 10px 9px 14px;
        font-size: 16px;
        line-height: 26px;
}

#main .area_relations {
    margin-top: 120px;
    padding-top: 48px;
}

#main .tit-relation {
    font-size: 26px;
    line-height: 36px;
}

#main .list_card_news {
    margin-top: 36px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    gap: 20px;
}

#main .like_tops {
    right: 50%;
    width: 40px;
    height: 40px;
    margin-right: -20px;
}

.doc_footer {

}

.inner_footer {
    max-width: 384px;
    padding-left: 14px;
    padding-right: 14px;
}

.section_servive {
    margin: 0;
    display: block;
}

.wrap_servicef {
    padding-top: 0;
    width: 100%;
    margin: 0;
}

.wrap_servicef h3 {
    margin-top: -46px;
}

.wrap_serviceff {
    display: none;
    position: relative;
    width: 100%;
    margin: 0;
    padding-top: 0;
}

.inner_serviceff {

}

.section_relationf {
    margin-top: 48px;
}

.group_infof {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
}

.wrap_infof {
    width: 50%;
    margin-top: 15px;
    margin-left: 0;
}

.wrap_relationf {
    /* float: none; */
    margin-top: 48px;
    width: 100%;
}

.toggle_icon {
    left: 171px;
}

.wrap_relationf a img {
    margin-left: 270px;
}

.txt_ffff {
    float: none;
     /* margin-top: 48px; */
    padding-top: 32px;
}
  
}



